/*FontStyles
font-family: "Calistoga", cursive;
font-family: "Roboto", sans-serif;
*/

/* TITLE */
h1 {
  font-family: "Calistoga", cursive;
  text-align: center;
}

/* City Search */
h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h4 {
  font-family: "Calistoga", cursive;
  text-align: center;
}

ul {
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-align: center;
}

.citySearch {
  text-align: center;
}

.weatherIcon {
  font-size: 4rem;
  text-align: center;
}

/* 7-Day Forecast */
.forecast {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.forecastIcon {
  font-size: 2rem;
}
